<footer id="footer" class="footer text-center p-5">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3 class="display-4">Social</h3>
                    <hr class="lighter">
                    <ul class="list-inline m-0">
                        <li class="px-2 list-inline-item">
                            <a href="https://github.com/ndkline" class="btn-social btn-outline"><i class="fa fa-2x fa-github-alt"></i></a>
                        </li>
                        <li class="px-2 list-inline-item">
                            <a href="https://twitter.com/ndkline" class="btn-social btn-outline"><i class="fa fa-2x fa-twitter"></i></a>
                        </li>
                        <li class="px-2 list-inline-item">
                            <a href="https://www.linkedin.com/in/ndkline" class="btn-social btn-outline"><i class="fa fa-2x fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>   
                <div class="footer-col col-md-4">
                    <h3 class="display-4">Contact</h3>
                    <hr class="lighter">
                    <ul class="list-unstyled m-0">
                        <li>Call/text: <a href="tel:717-813-4929">717-813-4929</a> <br></li>
                        <li>Email: <a href="mailto:ndkline@theagora.us">ndkline@theagora.us</a> <br></li>
                        <li>Twitter: <a href="https://twitter.com/ndkline">@ndkline</a></li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3 class="display-4">Services</h3>
                    <hr class="lighter">
                    <!-- <p>135 E Nittany Ave<br>STE #5030<br>State College, PA 16801</p> -->
                    <ul class="list-unstyled">
                        <li>E-Commerce</li>
                        <li>WordPress</li>
                        <li>Drupal</li>
                        <li>Shopify</li>
                        <li>Custom Application Development</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; <a href="http://twitter.com/ndkline">@ndkline</a> 2018
                </div>
            </div>
        </div>
    </div>
</footer>