---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body{
    font-family:'Open Sans', sans-serif;
    line-height: 1.5;
}
p{
  font-size: 1.1em;
}
nav{
font-family: 'Montserrat', sans-serif;
}
main.page-content{
  padding-top: 69px;
}

.bold{
font-weight: 500;
}
.bottom {
    position: absolute;
    bottom: 0;
    padding-bottom:5%;
    margin-right: 0;
}
.site-header{
    border-top:none;
}

.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

body{
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.95), 
    rgba(255, 255, 255, 0.95)
    ),
    url('https://res.cloudinary.com/solar-innovations-inc/image/upload/v1515523101/assets/e5dh3zjehiyfal6oqbir.jpg');

}

.grad-orange{
  background:
  linear-gradient(
    to bottom right,
    rgba(245, 136,61, .91),
    rgba(244, 123, 40, 1) 
  );
  color: white;
}

.requestquote{
  border: #428e42  solid 50px;
  border-right:none;
  border-left:none;
  background:white;
} 

.greenLink{
  color: #428e42;
}
.greyLink{
  color:#7F7F7F;
}
.sitename{
    // color:#F47B28!important;
}

.footer{
  // background:
  // radial-gradient(
  //   rgba(255, 255, 255, .7) 3%, 
  //   rgba(255, 255,255, 1) 
  // ),
  //   url('https://res.cloudinary.com/solar-innovations-inc/image/upload/v1515513129/conservatories/czoc5dsdnk2nisnagdzt.jpg');
  background-size:cover;background-position:center;
}

#fold{
  // background: $dark_steel_blue;
  // color:white;
  background-image: url("/img/footer_lodyas.png")!important;
  background-size: 25%;
  background-repeat: repeat;
  color: white;
  .row{
    background:
    linear-gradient(
      to bottom right,
      rgba(99, 97, 157, .1),
      rgba(99, 97, 157, 1)
    );
  }
}

hr.light{
  margin: 25px auto ;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 4px;
  text-align: center;
}
hr.lighter{
  margin: 25px auto ;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 2px;
  text-align: center;
}

footer{
  background: $light_steel_blue;
  color: darken(#63619D, 10%);
  a{
    color: lighten(#63619D, 10%);
  }
  p{
    font-size: 16px;
  }
}


