---
layout: default
---

<div class="jumbotron jumbotron-fluid mb-5 p-0" style="position:relative;background-image:url('/img/footer_lodyas.png');  height: 50vh; color:white;">
  <div class="container py-auto" style="position: absolute; background:rgba(99,97,157,.2); height: 50vh; width:100%; max-width:none; text-shadow: rgb(0, 0, 0) 1px 2px;">
    <div class="row" style="height: 50vh;">
      <div class="offset-1 col-11 my-auto">

        <h1 class="display-3">{{ page.long_title | escape }}</h1>
        <p class="lead pl-1" style="font-weight:400;">{{ page.description  }}</p>
      </div>
    </div>
  </div>
</div>

<div class="blog container">
  <!-- <div class="row">
    <div class="col-12">
        <h1 class="display-3">{{ page.long_title | escape }}</h1>
        <p class="lead">{{ page.description | escape }}</p>
    </div>
  </div> -->

  <div class="row">
    <div class="col-12">
      {{ content }}
    </div>
    <div class="col-12">
        <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="post-list">
          {% for post in site.posts %}
            <li>
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>




</div>
