---
layout: default
---
{% assign projects = site.projects | sort: 'weight' | reverse  %}
{% assign contributions = site.contributions | sort: 'weight' | reverse  %}

<div class="container-fluid" id="fold" >
  <div class="row py-5" style="height:100vh">
    <div class="col-12 text-center px-0 my-auto">
      <h1 class="text-uppercase">
        {{ site.title }}
      </h1>
      <hr class="light">
      <p class="pb-3">
        {% for role in site.roles %}
          {% if forloop.first %}
            {{ role }}
          {% else %}
            - {{ role }}
          {% endif %}
        {% endfor %}
      </p>
      <form method="get" action="{{ site.resume_url }}">
        <button  type="submit" class="btn btn-outline-light btn-lg "><i class="fa fa-download pr-3"></i> Resume</button>
      </form>

      <form method="get" action="https://nickdavidsholisticdevelopmentagency.com" class="mt-2">
        <button  type="submit" class="btn btn-outline-light btn-lg "><i class="fa fa-globe pr-3"></i> Portfolio</button>
      </form>

    </div>
  </div>
</div>
